:root {
  --background-color: #fcc;
  --text-color: #C11F1F;
}

.Error {
  background: var(--background-color);
  margin: 1rem 2rem;
  padding: 0.6rem;
  color: var(--text-color);
  white-space: pre;
  overflow: auto;
  font-family: monospace;
}
