@import 'common.css';

.Token {
    border: var(--common-border);
    background: #eee;
    margin: 0 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
    font-size: 0.8rem;
}

.Token > * {
    padding: 0.4rem 0.6rem;
}

.Token > div:first-child {
    border-bottom: var(--common-border);
}
