.Result {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    color: rgba(0, 0, 0, 0.87)
}

.ResultImage {
    object-fit: cover;
    height: 33%;
    object-position: 50% 30%;
}

.ResultContent {
    max-height: 65%;
    padding: 16px 16px 0;
    overflow: hidden;
}

.ResultLabel {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 8px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.ResultDescription {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.54)
}

.ResultExtract {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    overflow: hidden;
}

.ResultContent:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 30%;
    height: 28px;
    background-color: transparent;
}

.ResultContent:after {
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba( 255, 255, 255, 1) 40%);
}

.ResultElement {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.ResultElement-hidden {
    opacity: 0;
}