@import '../common.css';

.Graph {
    margin: 1rem 2rem;
}

.Graph svg {
    transition-property: width, height;
    transition-duration: 0.5s;
}

.GraphBorder {
    border: var(--common-border);
    display: inline-block;
    position: relative;
}

.graphBorder button {
    position: absolute;
    right: 0;
    bottom: 0;
}

.GraphNode text,
.GraphEdgeLabel {
    text-anchor: middle;
    font-size: 13px;
    font-family: sans-serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.GraphNode text {
    dominant-baseline: central;
    cursor: default;
}

.Graph a {
    cursor: pointer;
}