.Results {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f4f4f6;
}

.ResultsItem {
    background: white;
    color: #424242;
    font-size: 1rem;
    padding: 0.6rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}